<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        form {
            position: fixed;
            padding: 10px;
            color: #fff;
            border: 4px solid black;
            left: 50%; top: 40%;
            width: 200px;
            height: 100px;
            margin: -50px 0 0 -100px;
        }
        input {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
        <form align="center" action="../Model/account.php" method="POST">
            <input type="text" placeholder="Name" name="login" required> <br>
            <input type="text" placeholder="Password" name="password" required> <br>
            <input type="submit" placeholder="Password"> <br>
        </form>
</body>
</html>